body {
    overflow: hidden;
}

.navbar-brand img {
    height: 45px;
}

.top {
    padding-top: 75px;
    padding-inline: 20px;
}

.filters ul {
    list-style: none;
}

.filters-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.logs-table {
    height: calc(100vh - 210px);
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #800000;
    color: white;
}

.custom-table td {
    padding: 2px 0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.custom-table th{
    padding: 4px 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.custom-table td {
    background-color: white;
}

.custom-table thead th:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.custom-table thead th:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.center-text{
    text-align: center;
}

.log-column,
.sort {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
}

.sort:hover {
    background: white;
    cursor: pointer;
    color: #800000;
}

.logs-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.logs-table::-webkit-scrollbar-thumb {
    background-color: #800000;
    border-radius: 5px;
    border: 2px solid #f4f4f4;
}

.logs-table::-webkit-scrollbar-track {
    border-radius: 5px;
}

.logs-table {
    scrollbar-width: thin;
    scrollbar-color: #800000 white;
}

div.logs-table::-webkit-scrollbar-button {
    display: none !important;
}

@media(max-width:578px) {
    .logs-table {
        overflow-x: auto;
    }
}